#play {
    background-image: url(play.svg);

}

#pause {
    background-image: url(pause.svg);

}

#backward {
    background-image: url(-10.svg);

}

#forward {
    background-image: url(+10.svg);
}
